{% extends "base1.html" %}
{% block content %}
    <main class="main-content">
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h1 class="text-center">لیست آگهی های تایید نشده</h1>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">


                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">تایید نشده ها</h6>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">تصویر</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">دسته بندی</th>
                                        <th scope="col">تاریخ ثبت</th>
                                        <th scope="col">مشاهده جزییات</th>
                                        <th scope="col">تایید</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for wantad in wantad_list %}
                                        <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><img width="100px" height="100px" src="{{ wantad.logo }}"></td>
                                        <td>{{ wantad.title }}</td>
                                        <td>{{ wantad.category }}</td>
                                        <td>{{ wantad.created }}</td>
                                        {#                                        <td>{{ wantad.created }}</td>#}
                                        <td><a class="btn  btn-info" href="{{ wantad.get_absolute_url }}">مشاهده</a>
                                        </td>
                                        <td><a class="btn  btn-success" href="">تایید</a></td>
                                        <td><a class="btn  btn-danger" href="">حذف</a></td>
                                        {#                                        <td><a class="btn  btn-warning" href="{% url "category:update" category.pk %}">ویرایش</a>#}
                                        {#                                        </td>#}
                                        {#                                        <td><a class="btn  btn-danger" href="{% url "category:delete" category.pk %}">حذف</a>#}
                                        {#                                        </td>#}
                                    {% empty %}
                                        <h1 class="text-center text-danger">آگهیی برای تایید موجود نیست</h1>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </main>
{% endblock content %}


