{% extends "base1.html" %}
{% block content %}
    <main class="main-content">
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h1 class="text-center">لیست آگهی های غیررایگان</h1>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">


                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">مجموع آگهی های غیررایگان:{{ paid_count }}</h6>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">تصویر</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">دسته بندی</th>
                                        <th scope="col">تاریخ انتشار</th>
                                        <th scope="col">مشاهده</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for paid in paid_list %}
                                        <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><img src="{{ paid.logo }}"></td>
                                        <td>{{ paid.category }}</td>
                                        <td>{{ paid.created }}</td>
                                        <td><a class="btn  btn-info" href="{{ paid.get_absolute_url }}">مشاهده</a>
                                        </td>
                                    {% empty %}
                                        <h1 class="text-center text-danger">تا کنون آگهی ثبت نشده</h1>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </main>
{% endblock content %}


