{% with request.resolver_match.url_name as url_name %}


    <div class="navigation">

        <!-- begin::logo -->
        <div id="logo">
            <a href="index.html">
                <img class="logo" src="assets/media/image/logo.png" alt="logo">
                <img class="logo-sm" src="assets/media/image/logo-sm.png" alt="small logo">
                <img class="logo-dark" src="assets/media/image/logo-dark.png" alt="dark logo">
            </a>
        </div>
        <!-- end::logo -->

        <!-- begin::navigation header -->
        <header class="navigation-header">
            <figure class="avatar avatar-state-success">
                <img src="assets/media/image/user/man_avatar3.jpg" class="rounded-circle" alt="image">
            </figure>
            <div>
                <h5>جان اسنو</h5>
                <p class="text-muted line-height-20 m-b-25">مدیر</p>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="profile.html" class="btn nav-link bg-info-bright" title="پروفایل"
                           data-toggle="tooltip">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn nav-link bg-success-bright" title="تنظیمات" data-toggle="tooltip">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "accounts:logout" %}" class="btn nav-link bg-danger-bright" title="خروج"
                           data-toggle="tooltip">
                            <i data-feather="log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- end::navigation header -->

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">
            <ul>
                <li class="navigation-divider">اصلی</li>

                <li>
                    <a class="{% if url_name == 'panel' %}active{% endif %}" href="{% url "config:panel" %}">
                        <i class="nav-link-icon" data-feather="bar-chart-2"></i>
                        <span>داشبورد</span>
                        <span class="badge badge-danger">2</span>
                    </a>
                </li>
                <li>
                    <a class="{% if url_name == 'list' %}active{% endif %}" href="{% url "want_ad:list" %}">
                        <i class="nav-link-icon" data-feather="mail"></i>
                        <span>لیست  آگهی ها</span>
                        <span class="badge badge-success">2</span>
                    </a>
                </li>
                <li class="{% if request.resolver_match.app_name == 'category' %}open{% endif %}">
                    <a href="">
                        <i class="nav-link-icon" data-feather="bar-chart-2"></i>
                        <span>دسته بندی ها</span>
                    </a>
                    <ul>
                        <li><a class="{% if url_name == 'parent' %}active{% endif %}"
                               href="{% url "category:parent" %}">لیست دسته بندی ها</a></li>
                        <li><a class="{% if url_name == 'create' %}active{% endif %}"
                               href="{% url "category:create" %}">افزودن</a></li>
                    </ul>
                </li>
                <li>
                    <a class="{% if url_name == 'not_confirmed' %}active{% endif %}"
                       href="{% url "want_ad:not_confirmed" %}">
                        <i class="nav-link-icon" data-feather="mail"></i>
                        <span>مدیریت آگهی ها</span>
                        <span class="badge badge-success">2</span>
                    </a>
                </li>

                <li class="{% if request.resolver_match.app_name == 'accounts' %}open{% endif %}">
                    <a href="">
                        <i class="nav-link-icon" data-feather="bar-chart-2"></i>
                        <span>مدیریت ادمین ها</span>
                    </a>
                    <ul>
                        <li><a class="{% if url_name == 'admin_list' %}active{% endif %}"
                               href="{% url "accounts:admin_list" %}">لیست ادمین ها</a></li>
                        <li><a class="{% if url_name == 'admin_create' %}active{% endif %}"
                               href="{% url "accounts:admin_create" %}">افزودن</a></li>
                    </ul>
                </li>
                <li>
                    <a class="{% if url_name == 'static' %}active{% endif %}" href="{% url "config:static" %}">
                        <i class="nav-link-icon" data-feather="check-circle"></i>
                        <span>اطلاعات جامع</span>
                        <span class="badge badge-warning">2</span>
                    </a>
                </li>
                <li class="{% if request.resolver_match.app_name == 'accounts' %}open{% endif %}">
                    <a href="">
                        <i class="nav-link-icon" data-feather="bar-chart-2"></i>
                        <span>مدیریت مالی</span>
                    </a>
                    <ul>
                        <li><a class="{% if url_name == 'special' %}active{% endif %}"
                               href="{% url "want_ad:special" %}">آگهی های ویژه</a></li>
                        <li><a class="{% if url_name == 'paid' %}active{% endif %}"
                               href="{% url "want_ad:paid" %}">آگهی های غیررایگان</a></li>
                        <li><a  class="{% if url_name == 'paid' %}active{% endif %}"
                          href="{% url "want_ad:paying" %}">گزارش مالی</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end::navigation menu -->

    </div>
{% endwith %}